html, body { margin: 0; padding: 0; }

a {
    color: #e1e1e1;
    text-decoration: underline;
    transition: color .3s;
}

ol {
    padding-left: 1rem;
}

a:hover {
    text-decoration: none;
    color: #ff3a3a;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #111111;
    color: #e1e1e1;
    font-size: 16px;
}

h2 {
    color: #a3a3a3;
    font-size: 1.5em;
}

.btn {
    border-radius: 0;
    border: none;
}


.btn-primary {
    background: #353535;
}

.btn-primary:hover {
    background: #ff3a3a;
}

#editor-root {
   
    height: 100%;
    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    */
}
#manager {
   // overflow: scroll;
}
#files {
    overflow: auto;
}
.editor-base-block {
    //width: 17vw;
    height: 50vh;
    padding: 1rem;
}
.content-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-top: 40vh;
}
.content-home .header {
    font-size: 6vw;
}
.content-home .links {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 40vw;
}
.content-home .links a {
    display: block;
    width: 15vw;
    background: #fff;
    text-decoration: none;
    line-height: 5vw;
    text-align: center;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
    color: #000;
}
.content-home .links button {
    display: block;
    width: 15vw;
    background: #fff;
    border: none;
    text-align: center;
    height: 5vw;
    font-size: 2vw;
    border-radius: 1vw;
    color: #000;
}
.content-home .links .red {
    background: #E64B1A;
    color: #fff;
}

.episode-block {
    width: 21vw;
    margin-right: 1vw;
  }
  .espisode_full {
    width: 100vw;
    margin: 0;
  }
.ebb-content {
    padding: 1rem;
    background: #1e1e1e;
    height: 100%;
    //border-radius: 30px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1,1,1,0.75);
}
.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
    z-index: 300;
}
.cover {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0.5;
}
#video {
    z-index: 100;
}
#preview {
    
}
#preview .embed-responsive {
    max-height: 100%;
}
#manager {
   
    
}
.dialog {
    background: #fff;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1010;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.75);
    color: #131313;
}


.blacker {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 1000;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}