html, body { margin: 0; padding: 0; }

a {
    color: #fff;
    text-decoration: underline;
    transition: color .3s;
}

a:hover {
    color: #ccc;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#editor-root {
   
    height: 100%;
    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    */
}
#manager {
   // overflow: scroll;
}
#files {
    //overflow: scroll;
}
.editor-base-block {
    //width: 17vw;
    height: 50vh;
    padding: 1rem;
}

.ebb-content {
    padding: 1rem;
    background: #AB99DB;
    height: 100%;
    //border-radius: 30px;
    overflow: hidden;
    color: #fff;
}
.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
    z-index: 300;
}
.cover {
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0.5;
}
#video {
    z-index: 100;
}
#preview {
    
}
#preview .embed-responsive {
    max-height: 100%;
}
#manager {
   
    
}
.dialog {
    background: #fff;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
    position: absolute;
    top: 50%;
    left: 50%;
}