html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

#editor-root {
  height: 100%;
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  */
}

#manager {
  overflow: scroll;
}

.editor-base-block {
  height: 50vh;
  padding: 1rem;
}

.ebb-content {
  padding: 1rem;
  background: red;
  height: 100%;
}

#preview .embed-responsive {
  max-height: 50vh;
}

.dialog {
  background: #fff;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

