html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #e1e1e1;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

ol {
  padding-left: 1rem;
}

a:hover {
  text-decoration: none;
  color: #ff3a3a;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #111111;
  color: #e1e1e1;
  font-size: 16px;
}

h2 {
  color: #a3a3a3;
  font-size: 1.5em;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-primary {
  background: #353535;
}

.btn-primary:hover {
  background: #ff3a3a;
}

#editor-root {
  height: 100%;
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  */
}

#files {
  overflow: auto;
}

.editor-base-block {
  height: 50vh;
  padding: 1rem;
}

.ebb-content {
  padding: 1rem;
  background: #1e1e1e;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(1, 1, 1, 0.75);
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background-image: linear-gradient(transparent, #000);
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
  z-index: 300;
}

.cover {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0.5;
}

#video {
  z-index: 100;
}

#preview .embed-responsive {
  max-height: 100%;
}

.dialog {
  background: #fff;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1010;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  color: #131313;
}

.blacker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

