html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

#editor-root {
  height: 100%;
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  */
}

.editor-base-block {
  height: 50vh;
  padding: 1rem;
}

.ebb-content {
  padding: 1rem;
  background: #AB99DB;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

.video-overlay-play-button {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px calc(50% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  opacity: 0.95;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background-image: linear-gradient(transparent, #000);
  -webkit-transition: opacity 150ms;
  transition: opacity 150ms;
  z-index: 300;
}

.cover {
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0.5;
}

#video {
  z-index: 100;
}

#preview .embed-responsive {
  max-height: 100%;
}

.dialog {
  background: #fff;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

