html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #ccc;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

#editor-root {
  height: 100%;
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  */
}

.editor-base-block {
  height: 50vh;
  padding: 1rem;
}

.ebb-content {
  padding: 1rem;
  background: #AB99DB;
  height: 100%;
  overflow: hidden;
  color: #fff;
}

#preview .embed-responsive {
  max-height: 100%;
}

.dialog {
  background: #fff;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
}

