html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: #212121;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

ol {
  padding-left: 1rem;
}

a:hover {
  color: #227dc7;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-primary {
  background: #212121;
}

#editor-root {
  height: 100%;
  /*
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  */
}

#files {
  overflow: auto;
}

.editor-base-block {
  height: 50vh;
  padding: 1rem;
}

.ebb-content {
  padding: 1rem;
  background: #EBEBEB;
  height: 100%;
  overflow: hidden;
  color: #212121;
}

#preview .embed-responsive {
  max-height: 100%;
}

.dialog {
  background: #fff;
  width: 600px;
  height: 400px;
  margin-left: -300px;
  margin-top: -200px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.blacker {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

